@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(black, white)
}

header {
    position: sticky;
    background-color: pink;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    background-color: white;
    list-style: none;
    margin-left: 20px;
    padding: 6px 15px;
    border-radius: 20px;
}

header ul li a {
    text-decoration: none;
    color: black;
}

header ul li a:hover,
header ul li a.active {
    background: red;
    color: green;
}

#Dartmoor {
    width: 100vw;
}

.sec {
    position: relative;
    padding: 100px;
    background: beige;
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: black;
}

.sec p {
    font-size: 1.2em;
    color: black;
}

#maingame {
    width: 40%;
    height: 40%;
    padding: 10px;
    margin: auto;
    display: block;
}

#Home .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-size: 32px;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
}
