@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #ffc800;
}

i {
    position: absolute;
    top: 75%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer; 
}

#cv {
    position: absolute;
    top: 75%;
    left: 52%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 40px;
    color: #fd3430;
    font-family: 'Pacifico', cursive;
    cursor: pointer;
    text-decoration: none;
}

#github {
    position: absolute;
    top: 75%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
    color: rgba(0, 0, 0, 0);
    z-index: 5;
}

#titlearrow {
    color: #fd3430;
    z-index: 2;
    position: absolute;
    top: 62.5%;
    left: 68%;
    transform: translate(-50%, -50%) rotate(90deg); 
    -ms-transform: translate(-50%, -50%);
    font-size: 9vw;
    width: 100%;
    height: 26px;
    padding: 0;
    margin: 0;
    margin-top: -13px;
    text-align: center;
    display: inline-block;
}

#webtitle {
    color: #fd3430;
    font-family: 'Pacifico', cursive;
    z-index: 2;
    position: absolute;
    top: 37.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 6vw;
    width: 100%;
    height: 26px;
    padding: 0;
    margin: 0;
    margin-top: -13px;
    text-align: center;
}

#Home .btn {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ffc800;
    color: black;
    font-size: 2vw;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    text-decoration: none;
}

header {
    position: sticky;
    background-color: #6536f3;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 30px 12px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#logo {
    position: relative;
    float: left;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    background-color: #ffc800;
    list-style: none;
    margin-left: 20px;
    padding: 6px 15px;
    border-radius: 20px;
}

header ul li a {
    text-decoration: none;
    color: black;
}

header ul li:hover,
header ul li.active {
    background: #fd3430;
    color: black;
}

#About {
    border-bottom: dotted 40px #6536f3;
    padding-top: 2.5vw;
}

#gamesec {
    height: 40vh;
    background-color: #ffc800;
}

#Projects {
    font-family: 'Pacifico', cursive;
    color: #fd3430;
    position: relative;
    font-size: 56px;
    padding-top: 6vw;
    padding-left: 4vw;
}

#About h2 {
    color: #fd3430;
    font-family: 'Pacifico', cursive;
}

#About p {
    padding-top: 1vw;
    line-height: 47px;
}

h2 {
    font-size: 38px;
    color: #fd3430;
    font-family: 'Pacifico', cursive;
}

#image {
    width: 100%;
    height: 60%;
}

.sec {
    position: relative;
    padding: 4vw;
    background: #ffc800;
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: black;
}

.sec p {
    font-size: 1.4em;
    color: black;
}

.right p {
    font-size: 1.4em;
    color: black;
    padding-right: 10px;
}


#maingame {
    height: 40vh;
    width: 40vw;
    border: 0;
}

#paddletable {
    height: 40vh;
    width: 40vw;
    border: 0;
}


.left {
    height: 40vh;
    width: 40vw;
    float: left;
    margin: 4vw;
}

.right {
    height: 40vh;
    width: 40vw;
    float: right;
    margin: 4vw;
    overflow-y: scroll;
}

.right::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #daab05;
}

.right::-webkit-scrollbar {
    width: 12px;
    background-color: #ffc800;
}

.right::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #fd3430;
}

.divheader {
    padding-bottom: 1.5vh;
}
