@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #ffc800;
}

header {
    position: sticky;
    background-color: #6536f3;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 30px 12px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header .logo {
    position: absolute;
    color: #ffc800;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    background-color: #ffc800;
    list-style: none;
    margin-left: 20px;
    padding: 6px 15px;
    border-radius: 20px;
}

header ul li a {
    text-decoration: none;
    color: black;
}

header ul li a:hover,
header ul li a.active {
    background: red;
    color: green;
}

#About h2 {
    color: #fd3430;
} 

h2 {
    color: #fd3430;
}

#Dartmoor {
    width: 100%;
}

.sec {
    position: relative;
    padding: 4vw;
    background: #ffc800;
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: black;
}

.sec p {
    font-size: 1.2em;
    color: black;
}

#project {
    color: #fd3430;
    position: relative;
    font-size: 56px;
    padding: 0 0 0 4vw;
}

#maingame {
    height: 40vh;
    width: 40vw;
    border: 0;
}

#paddletable {
    height: 40vh;
    width: 40vw;
    border: 0;
}

#Home .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ffc800;
    color: black;
    font-size: 32px;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
}

.left {
    height: 40vh;
    width: 40vw;
    float: left;
    margin: 4vw;
}

.right {
    height: 40vh;
    width: 40vw;
    float: right;
    margin: 4vw;
    overflow-y: scroll;
}

.right::-webkit-scrollbar {
    display: none;
}

#gamesec {
    height: 40vh;
    background-color: #ffc800;
}

.divheader {
    padding-bottom: 1.5vh;
}